.character-card {
    border: 2px solid #DEE2E6;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #f9f9f9;
  }
  
  .character-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .character-card.selected {
    box-shadow: 0px 4px 10px rgba(76, 175, 80, 0.3);
  }
  
  .card-bt {
    border-radius: 5px 7px;
    background: linear-gradient(
      to bottom,
      #000000,
      #4b004b);
    cursor: pointer;
  }
  
  .card-bt h5 {
    margin: 0;
    font-weight: bold;
  }

  .card-img-top {
    object-fit: cover;
    border-radius: 10px;
  }

  .card-text{
    height: 30%;
    padding: 5px;
    font-size: 12px;
    width: 100%;
    background-color: #343333;
    border-radius: 0 0 7px 7px;
    color: #FFFDFD;
  }

  .card-username{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  input[type="radio"]:checked + label {
    box-shadow: 0 0 0 4px #7749F8;
  }
  
  input[type="radio"]:not(:checked) + label {
    background-color: #f9f9f9;
    border-color: #ddd;
  }


  @media (max-width: 576px) {
    /*.cc-wmax{
      max-width: 230px;
    }*/

    .card-text{
      height: 60px;
      justify-content: center
    }
  }