<form [formGroup]="chooseCharacterForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-sm-4 mb-4" *ngFor="let character of characters">
            <div class="card character-card" [ngClass]="{'selected': chooseCharacterForm.value.character.username === character.username}">
                <input 
                id="{{ character.username }}" 
                formControlName="character" 
                type="radio" 
                [value]="character" 
                class="form-check-input d-none">
                <label for="{{ character.username }}" class="card-bt d-flex flex-column align-items-center">
                    <img src="" alt="{{ character.username }}" class="card-img-top" />
                    <div class="card-text d-flex flex-column align-items-center"><span>Player</span><span class="card-username fw-bold">{{ character.username }}</span></div>
                </label>
            </div>
        </div>
    </div>
    <div *ngIf="chooseCharacterForm.get('character')?.errors?.['required'] && chooseCharacterForm.get('character')?.touched" class="alert alert-danger fs-6">
        Debes seleccionar un personaje.
    </div>
    <div class="text-end">
      <button class="btn btn-purple mb-4 fw-bold fs-6">Elegir</button>
    </div>
</form>