.table-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .table-row {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex: 1;
  }
  
  .table-cell {
    flex: 1;
    background-color: #434343;
    background-position: center;
    background-image: url("../../../public/assets/background-cell.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    max-width: 180px;
    max-height: 180px;
  }

  .table-cell:hover {
    box-shadow: 0 0 0 4px #7749F8;
    transform: scale(1.03);
  }

  .table-row + .table-row {
    margin-top: 8px;
  }

  .table-path{
    position: relative;
    box-shadow: 0 0 0 4px #FF00B8;
  }

  /*.current-pos:before {
    content: "P1";
    top: 0;
    right: 6px;
    position: absolute;
    color: #7749F8;
  }*/

  .card-img-box{
    background: linear-gradient(to bottom, #000000, #4b004b);
    border-radius: 5px 5px 0 0;
    min-height: 80px;
  }

  .card-img-box .btn-close{
    filter: invert(1);
    position: absolute;
    right: 6px;
    top: 6px;
  }

  .card-body{
    padding: 16px;
    font-size: 12px;
    width: 100%;
    background-color: #343333;
    border-radius: 0 0 7px 7px;
    color: #FFFDFD;
  }

  @media (max-width: 768px) {
    .table-row {
      gap: 2px;
    }

    .table-row + .table-row {
      margin-top: 2px;
    }

    .table-cell:hover {
      box-shadow: 0 0 0 2px #7749F8;
      transform: scale(1.01);
    }

    .table-path{
      box-shadow: 0 0 0 2px #FF00B8;
    }
  }