<div class="d-flex justify-content-center gap-3 text-center">
    <div *ngIf="characterList.length > 0; else noPlayers">
        <!--<div *ngFor="let player of characterList">
            <div>
                {{player.username}}
            </div>
        </div>-->
        <button class="btn btn-purple fw-bold mb-4" (click)="chooseCharacter()">Elige un personaje</button>
    </div>
    <ng-template #noPlayers>
        <h2>No hay personajes ahora mismo.</h2>
    </ng-template>
    <div *ngIf="characterList.length < 6">
        <button class="btn btn-purple fw-bold mb-4" (click)="openModalPlayerForm()">Crear nuevo personaje</button>
    </div>
</div>